*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}
.navbar{
    z-index: 999;
}


.logo{
    height: 50px;
    width: 50px;
}


.card img{
    height: 200px;
}